/* Textos */
$text-primary: #ffffff; // texto principal
$text-secondary: #6c757d; // texto normal
$text-tertiary: #495057; // descripciones
$text-inverse: #343a40; // texto invertido (sobre fondos oscuros)

/* background */
$bg-body: #000000; // fondo principal
$bg-secondary: #212529; // fondo secundario
$bg-tertiary: #343a40; // fondo elevado
$bg-inverse: #f8f9fa; // fondo invertido

/* Brand */
$color-primary: #b4001a; // color principal
$color-secondary: #7e0012; // color secundario
$color-tertiary: #fd7e84; // color terciario

/* TIPOGRAFÍA */
$fs-h1: 36px;
$fs-h2: 32px;
$fs-h3: 24px;
$fs-h4: 16px;

$fs-body-lg: 20px;
$fs-body-md: 16px;
$fs-body-sm: 14px;

$fs-label-lg: 16px;
$fs-label-md: 14px;
$fs-label-sm: 12px;
