@use '../utilities/variables' as *;

.clases-section {
	background-color: $bg-body;
}

.text-red {
	color: $color-primary;
}

.class-card {
	height: 280px;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		transform: translateY(-5px);
	}

	&:hover .class-overlay {
		opacity: 1;
	}
}

.class-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.class-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
}

.class-icon {
	position: absolute;
	left: 20px;
	bottom: 15px;
	width: 60px;
	height: 60px;
	background: $color-primary;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.class-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color-primary;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;

	opacity: 0;
	transition: all 0.3s ease;
}
