@use '../utilities/variables' as *;
section#membresias {
	.custom-card {
		max-width: 320px;
		background: linear-gradient(to bottom, $bg-body, #141414);
	}
	.membresia-mas-vendida {
		border: 3px solid $color-primary;
	}
}
