@use '../utilities/variables' as *;

#header {
	.navbar-logo {
		max-height: 50px;
		width: auto;
	}
	.navbar-nav a {
		font-family: 'Lastica';
		font-size: $fs-h4;
	}
}

.navbar-toggler-icon {
	filter: invert(1);
}

.navbar-main {
	transition: transform 0.3s ease;
}

.navbar-hidden {
	transform: translateY(-100%);
}
