@use '../utilities/variables' as *;

.product-card {
	max-width: 400px;
	background-color: $bg-secondary;
}
.product-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	position: relative;
	z-index: 1;
}

.product {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	max-width: 100%;
	height: auto;
}
.product-one {
	max-width: 100%;
}

.product-two {
	max-width: 110%;
}

.product-three {
	max-width: 70%;
}
@media (max-width: 767px) {
	.product-card {
		margin: auto;
	}
}
