@use '../utilities/variables' as *;

.c-btn {
	display: inline-block;
	padding: 15px 16px;
	font-size: $fs-body-md;
	font-weight: 700;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: 0.2s ease;
	text-decoration: none;
	color: $text-primary;
}

.c-btn-primary {
	background: $color-primary;
	color: $text-primary;

	&:hover {
		background: $color-secondary;
	}
}
