@use '../utilities/variables' as *;

.c-btn {
	display: inline-block;
	padding: 8px 20px;
	font-size: $fs-body-sm;
	font-weight: 500;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
	text-decoration: none;
	color: $text-primary;

	&-primary {
		background: $color-primary;
		color: $text-primary;

		&:hover {
			background: $color-secondary;
		}
	}
}
