@font-face {
	font-family: 'Lastica';
	src: url(../../fonts/lastica/fonnts.com-Lastica.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DMSans';
	src: url(../../fonts/dm-sans/DMSans-Light.ttf) format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'DMSans';
	src: url(../../fonts/dm-sans/DMSans-Regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'DMSans';
	src: url(../../fonts/dm-sans/DMSans-Medium.ttf) format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'DMSans';
	src: url(../../fonts/dm-sans/DMSans-Bold.ttf) format('truetype');
	font-weight: 700;
}
